@model IEnumerable<TodoWebApp.Models.TodoUserInfo>

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<center>
    <h2>User Management</h2>

</center>

<table class="table">

    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Count
            </th>
            <th>
                Compeleted
            </th>
            <th>
                Incomplete
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @item.Completed
                </td>
                <td>
                    @item.Incomplete
                </td>


            </tr>
        }
    </tbody>
</table>
